* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', serif;
  }
  
  /* 01 - Header */
  
  #main-menu {
    background-color: white;
    border-bottom: 1px solid #eee;
    width: 100%;
  }
  
  .main-menu-list {
    text-align: center;
  }
  
  .main-menu-item {
    display: inline-block;
    padding: 30px 25px;
    font-size: 18px;
  }
  
  .main-menu-list > a {
    text-decoration: none;
    color: #000;
  }
  
  .main-menu-item:hover {
    background: #eee
  }
  
  #logo {
    font-family: 'Tangerine';
    font-size: 28px;
    font-weight: bold;
  }