<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car rental - Add a car</title>
</head>

<body>
    <header>
        <form method="post" action="/customers">
            <input type="submit" value="Customers">
        </form>
        <form method="post" action="/cars">
            <input type="submit" value="Cars">
        </form>
                <form method="post" action="/checkIn">
            <input type="submit" value="Check in">
        </form>
        <form method="post" action="/checkOut">
            <input type="submit" value="Check out">
        </form>
                <form method="post" action="/history">
            <input type="submit" value="History">
        </form>
        <form method="post" action="/">
            <input type="submit" value="Home">
        </form>
    </header>
    
    <main>
        <h1>Add a car</h1>
        <form method="POST" action="/carAdded" >
            <input type="text" name="registernumber" placeholder="Register number"><br>
            <select name="make">
                <option disabled selected>Select make</option>
                {% for make in makeArray %}
                <option value="{{ make.make }}">{{ make.make }}</option>
                {% endfor %}
            </select>
            <select name="color">
                <option disabled selected>Select color</option>
                {% for color in colorArray %}
                <option value="{{ color.color }}">{{ color.color }}</option>
                {% endfor %}
            </select>
            <input type="text" name="year" placeholder="Year"><br>
            <input type="text" name="price" placeholder="Price"><br>
            <button type="submit" name="submit">Add car</button>
        </form>