{% include 'MainMenuView.twig' %}
    <section class="content">
        <div class="container">
            <div class="title-heading">
                <h1>Cars</h1>
            </div>
        <p>The car was edited successfully.</p>
        <div class="cta center">
            <a class="btn btn-blue" href="/u05-car-rental/cars">Go back</a>
        </div>        
    </section>
    <script>
        // Add current class to nav-link
        for (let elem of document.querySelectorAll(".nav-link")) {
            if (elem.textContent === "Cars") {
                elem.classList.add("current");
            }
        }
    </script>
{% include 'footerView.twig' %}