{% include 'MainMenuView.twig' %}
    <section class="content">
        <div class="container">
            <div class="title-heading">
                <h1>Customers</h1>
            </div>
        <p>The customer was removed from the database.</p>
        <div class="cta center">
            <a class="btn btn-blue" href="/u05-car-rental/customers">Go back</a>
        </div>        
    </section>
    <script>
        // Add current class to nav-link
        for (let elem of document.querySelectorAll(".nav-link")) {
            if (elem.textContent === "Customers") {
                elem.classList.add("current");
            }
        }
    </script>
{% include 'footerView.twig' %}