<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
    <title>Car rental</title>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div class="nav-brand">
                    <img src="car.png" alt="">
                </div>
                <div class="menu-icons open">
                    <i class="icon ion-md-menu"></i>
                </div>
                <ul class="nav-list">
                    <div class="menu-icons close">
                        <i class="icon ion-md-close"></i>
                    </div>
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/customers">Customers</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cars">Cars</a></li>
                    <li class="nav-item"><a class="nav-link" href="/checkOut">Check out</a></li>
                    <li class="nav-item"><a class="nav-link" href="/checkIn">Check in</a></li>
                    <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="main-message">
                    <h3>Car Rental</h3>
                    <h1>Register System</h1>
                    <div class="cta">
                        <a class="btn" href="/checkIn">Check in</a>
                        <a class="btn" href="/checkOut">Check out</a>
                    </div>
                </div>
            </div>
        </section>