{% include 'MainMenuView.twig' %}
    <section class="content">
        <div class="container">
            <div class="title-heading">
                <h1>Not Found</h1>
            </div>
        <p>The page you are looking for was not found.</p>
        <div class="cta center">
            <a class="btn btn-blue" href="/u05-car-rental/">Go to Home</a>
        </div>        
    </section>
{% include 'footerView.twig' %}